
@{
    Layout = "~/Views/Torneio.cshtml";
}

@section scripts{
    @Scripts.Render("~/bundles/knokout")
    @Scripts.Render("~/bundles/rockPaperScissors")
}
<div class="row">

    <div class="col-md-1 col-md-4">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h2>Torneio</h2>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary btn-sm float-right" style="margin-top: 5px" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Adicionar
                    </button>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Ordem</th>
                        <th>Nome Jogador</th>
                        <th>Estratégia</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: listaPartidas">
                    <tr>
                        <td data-bind="text: Ordem" , rowspan="2"></td>
                    </tr>
                    <!--knockout Containerless Binding-->
                    <!-- ko foreach: ListaJogadas -->
                    <tr>
                        <td data-bind="text: NamePlayer"></td>
                        <td data-bind="text: Strategy"></td>
                    </tr>
                    <!-- /ko -->
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card collapse" style="width: 18rem;" id="collapseExample">
            <div class="card-body">
                <h5 class="card-title">Partida</h5>
                <div class="form-group">
                    <input class="form-control form-control-sm" type="text" placeholder="Informe a ordem">
                </div>

                <p class="card-subtitle mb-2 text-muted">Informe nome dos Jogadores e suas estratégias</p>

                <div class="form-group">
                    <label for="NomeJogador1">Jogador</label>
                    <input id="NomeJogador1" data-bind="value: cadastroExcecaoEscala.NamePlayer1" class="form-control form-control-sm" type="text" placeholder="Nome">
                </div>

                <div class="form-group">
                    <label for="idEstrategia">Estratégia</label>
                    <select id="idEstrategia" data-bind="value: cadastroExcecaoEscala.Strategy1" class="form-control form-control-sm"></select>
                </div>

                <hr>

                <div class="form-group">
                    <label for="NomeJogador2">Jogador</label>
                    <input id="NomeJogador2" data-bind="value: cadastroExcecaoEscala.NamePlayer2" class="form-control form-control-sm" type="text" placeholder="Nome">
                </div>

                <div class="form-group">
                    <label for="idEstrategia">Estratégia</label>
                    <select id="idEstrategia" data-bind="value: cadastroExcecaoEscala.Strategy2" class="form-control form-control-sm"></select>
                </div>

                <button type="button" class="btn btn-outline-primary">Adicionar</button>
                <button type="button" class="btn btn-outline-warning">Limpar</button>
            </div>
        </div>
    </div>
</div>